{
	"applications": {
		"example_php": {
			"type": "php",
			"processes": 2,
			"root": "/usr/share/doc/unit/examples/php-app",
			"index": "index.php"
		},

		"example_python": {
			"type": "python",
			"processes": 2,
			"path": "/usr/share/doc/unit/examples/python-app",
			"module": "wsgi"
		}
	},

	"listeners": {
		"*:8300": {
			"pass": "applications/example_php"
		},

		"*:8400": {
			"pass": "applications/example_python"
		}
	}
}
